{{ define "admin/admin-navbar.tmpl" }}

<nav class="admin-navbar">
    <ul class="admin-navbar__list">
        <li class="admin-navbar__list-item"><a href="/admin/products">Products</a></li>
        <li class="admin-navbar__list-item"><a href="/admin/orders">Orders</a></li>
        <li class="admin-navbar__list-item"><a href="/admin/users">Users</a></li>
    </ul>
</nav>

{{ end }}
