{{ define "admin/edit_form.tmpl" }}

<form class="admin-product-edit-form">
    <label>Product name</label><br>
    <input class="product-edit-value" type="text" id="product-edit__name" value="{{ .product.Name }}" required><br>
    <label>Product price</label><br>
    <input class="product-edit-value" type="number" id="product-edit__price" value="{{ .product.Price }}" required><br>
    <label>Product description</label><br>
    <textarea class="product-edit-value" id="product-edit__description" rows="8" cols="50">{{ .product.Description }}</textarea><br>
    <label>Image</label><br>
    <input class="product-edit-value" type="file" accept="image/png, image/jpeg" id="product-edit__image-url" required value="{{ .product.ImageUrl }}"><br>
</form>

{{ end }}
