body {
    background-color: #fafafa;
}

.page-content {
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: white;
    box-shadow: var(--thin-shadow);
}

.product-image {
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
    box-shadow: var(--thin-shadow);
}

.product-item {
    height: 260px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: var(--thin-shadow);
}

.product-item__image-container {
    min-width: 240px;
    max-width: 240px;
    height: 100%;
}

.product-item__name-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.product-item__description {
    margin-top: 20px;
    width: 400px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: gray;
}

.product-item__side-container {
    padding: 20px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
    align-self: flex-start;
    color: #202020;
    text-decoration: none;
}

.product-price {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #eb1d36;
}

.item-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: var(--thin-shadow);
}

.details-image {
    align-self: center;
    max-width: 860px;
    max-height: 600px;
    box-shadow: var(--thin-shadow);
}

.details-name {
    margin: 20px 0;
    margin-top: 40px;
}

.details-price {
    font-weight: 800;
    color: #eb1d36;
}

.details-description-header {
    margin-bottom: 20px;
    margin-top: 60px;
}

.details-description {
    font-size: 18px;
}

.pagination {
    height: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.pagination-text {
    font-weight: bold;
    font-size: 20px;
}

.top-div {
    position: absolute;
    top: 100px;
    left: 20px;
}

.product-add-to-cart-button {
    min-width: 90px;
    min-height: 30px;
}

.product-add-to-cart-button:disabled {
    color: lightgray;
}
