<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link href="/static/css/base.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container" style="margin: 40px">
            <h1>Home Page</h1>
            <a href="/products">/products</a></br>
            <a href="/admin/products">/admin/products</a></br>
            </br>
            <a href="/test/fill-with-test-data">/test/fill-with-test-data</a></br>
        </div>
    </body>
</html>
