{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
        <link href="/static/css/base.css" rel="stylesheet" />
        {{template "links" .}}
        {{ template "global-include.tmpl" .}}
    </head>
    <body>
        {{template "main" .}}
    </body>
</html>
{{end}}
