<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Details {{ .Id }}</title>
        {{ template "global-include.tmpl" .}}
        <link href="/static/css/base.css" rel="stylesheet" />
        <link href="/static/css/products.css" rel="stylesheet" />
    </head>
    <body>
        {{ template "navbar.tmpl" .}}
        <div class="page-content">
            <div class="item-details">
                <img class="details-image img-thumbnail" src={{ .ImageUrl }}/>
                <h1 class="details-name">{{ .Name }}</h1>
                <h1 class="details-price">{{ .Price }}₽</h1>
                <h1 class="details-description-header">Описание</h1>
                <p class="details-description">{{ .Description }}</p>
            </div>
        </div>
    </body>
</html>
