{{ define "products.tmpl" }}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Products</title>
        {{ template "global-include.tmpl" .}}
        <link href="/static/css/base.css" rel="stylesheet" />
        <link href="/static/css/products.css" rel="stylesheet" />
        <script type="module" src="/static/js/products.js" defer></script>
        <script type="module" src="/static/js/products-pagination.js" defer></script>
    </head>
    <script>
        window.PAGE_NUMBER = {{ .page }}
        window.PAGE_COUNT = {{ .pageCount }}
    </script>
    <body>
        {{ template "navbar.tmpl" .}}
        <div class="page-content product-list-root">
            <div class="top-div card">
                <h2 class="h2">Ограничение</h2>
                <input type="number" min="1" class="top-input form-control mt-3"></input>
                <a href="#" style="text-decoration: none">
                    <button class="item-limit-submit btn btn-primary mt-3">Применить</button>
                    <button class="item-limit-reset btn btn-outline-primary mt-3">Сбросить</button>
                </a>
            </div>
        </div>
    </body>
</html>

{{ end }}
