{{ define "admin/admin-users.tmpl" }}

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Admin</title>
        <link href="/static/css/base.css" rel="stylesheet" />
        <link href="/static/css/admin.css" rel="stylesheet" />
        {{ template "global-include.tmpl" .}}
    </head>
    <body>
        {{ template "navbar.tmpl" .}}
        {{ template "admin/admin-navbar.tmpl" .}}
        <div class="container">
            <h1>Users</h1>
            <div class="admin-user-list">
                <br/>
                {{ range .users }}
                    <div>
                        <p><b>Id</b>: {{ .Id }}</p>
                        <p><b>Name</b>: {{ .Name }}</p>
                        <p><b>Phone</b>: {{ .Phone }}</p>
                        <br/>
                    </div>
                {{ end }}
            </div>
        </div>
    </body>
</html>

{{ end }}
