<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link href="/static/css/base.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Home Page</h1>
        <div style="margin-top: 40px">
            <a href="/products">Products</a>
        </div>
    </body>
</html>
